In [0]:
simpledata = [(1,"Ehtisham","Data","PK",100,),
              (2,"Ali","Tech","PR",10,),
              (3,"Ahmed","Software","PAK",15,)]
columns = ["ID","Name","Department","City","Marks"]
df_1 = spark.createDataFrame(data=simpledata,schema=columns)
df_1.show()

+---+--------+----------+----+-----+
| ID|    Name|Department|City|Marks|
+---+--------+----------+----+-----+
|  1|Ehtisham|      Data|  PK|  100|
|  2|     Ali|      Tech|  PR|   10|
|  3|   Ahmed|  Software| PAK|   15|
+---+--------+----------+----+-----+

In [0]:
simpledata_1 = [(1,"Muhammad","Data","PK",80,),
              (2,"Yusuf","Tech","PR",50,),
              (3,"Raheb","Software","PAK",30,)]
columns = ["ID","Name","Department","City","Marks"]
df_2 = spark.createDataFrame(data=simpledata_1,schema=columns)
df_2.show()

+---+--------+----------+----+-----+
| ID|    Name|Department|City|Marks|
+---+--------+----------+----+-----+
|  1|Muhammad|      Data|  PK|   80|
|  2|   Yusuf|      Tech|  PR|   50|
|  3|   Raheb|  Software| PAK|   30|
+---+--------+----------+----+-----+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import * 
window =Window.partitionBy().orderBy(col("Marks").desc())
df_1.withColumn("r1",row_number().over(window)).show()

+---+--------+----------+----+-----+---+
| ID|    Name|Department|City|Marks| r1|
+---+--------+----------+----+-----+---+
|  1|Ehtisham|      Data|  PK|  100|  1|
|  3|   Ahmed|  Software| PAK|   15|  2|
|  2|     Ali|      Tech|  PR|   10|  3|
+---+--------+----------+----+-----+---+

In [0]:
simpledata = [(1,"Ehtisham","Data","PK",100,),
              (2,"Ali","Tech","PR",10,),
              (3,"Ahmed","Software","PAK",15,)]
columns = ["ID","Name","Department","City","Marks"]
df_1 = spark.createDataFrame(data=simpledata,schema=columns)
df_1.show()

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from random import randint
from datetime import datetime, timedelta

In [0]:
spark = SparkSession.builder.appName("BorrowerLoans").getOrCreate()

In [0]:
borrowers = ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hannah", "Ivy", "Jack","Alice","Bob"]
num_rows = 12

In [0]:
data = []
for i in range(num_rows):
    borrower_id = i % len(borrowers)  # Cyclic assignment of borrower_id
    amount_borrowed = randint(1000, 5000)
    loan_id = f"Loan-{i+1}"
    date = datetime(2023, 7, 1) - timedelta(days=i)  # Varying dates in descending order
    data.append((borrowers[borrower_id], amount_borrowed, loan_id, borrower_id, date))

# Define the schema and create the DataFrame
schema = ["borrower_name", "amount_borrowed", "loan_id", "borrower_id", "date"]
df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
df.show()

+-------------+---------------+-------+-----------+-------------------+
|borrower_name|amount_borrowed|loan_id|borrower_id|               date|
+-------------+---------------+-------+-----------+-------------------+
|        Alice|           3192| Loan-1|          0|2023-07-01 00:00:00|
|          Bob|           4401| Loan-2|          1|2023-06-30 00:00:00|
|      Charlie|           2095| Loan-3|          2|2023-06-29 00:00:00|
|        David|           4443| Loan-4|          3|2023-06-28 00:00:00|
|          Eva|           1358| Loan-5|          4|2023-06-27 00:00:00|
|        Frank|           1176| Loan-6|          5|2023-06-26 00:00:00|
|        Grace|           3220| Loan-7|          6|2023-06-25 00:00:00|
|       Hannah|           4149| Loan-8|          7|2023-06-24 00:00:00|
|          Ivy|           3454| Loan-9|          8|2023-06-23 00:00:00|
|         Jack|           4962|Loan-10|          9|2023-06-22 00:00:00|
|        Alice|           1326|Loan-11|         10|2023-06-21 00:00:00|
|          Bob|           1500|Loan-12|         11|2023-06-20 00:00:00|
+-------------+---------------+-------+-----------+-------------------+

In [0]:
simpledata_1 = [("Alice",3192,1,1,"2023-07-01",),
              ("Bob",2340,2,2,"2023-06-30",),
              ("Charlie",2095,3,3,"2023-06-29",),
              ("Charlie",2588,4,3,"2023-06-20",),
              ("Frank",20950,5,4,"2023-05-29",),
              ("Hannah",2478,6,5,"2022-06-29",),
              ("Jack",7600,7,6,"2021-05-25",),
              ("Bob",10000,8,7,"2022-02-27",),
              ("Grace",6500,9,8,"2020-06-29",),
              ("Bob",5500,10,2,"2023-05-30",),
              ("Alice",1340,11,1,"2020-06-30",),
              ]
columns = ["borrower_name","amount_borrowed","loan_id","borrower_id","date"]
df_2 = spark.createDataFrame(data=simpledata_1,schema=columns)
df_2.show()

+-------------+---------------+-------+-----------+----------+
|borrower_name|amount_borrowed|loan_id|borrower_id|      date|
+-------------+---------------+-------+-----------+----------+
|        Alice|           3192|      1|          1|2023-07-01|
|          Bob|           2340|      2|          2|2023-06-30|
|      Charlie|           2095|      3|          3|2023-06-29|
|      Charlie|           2588|      4|          3|2023-06-20|
|        Frank|          20950|      5|          4|2023-05-29|
|       Hannah|           2478|      6|          5|2022-06-29|
|         Jack|           7600|      7|          6|2021-05-25|
|          Bob|          10000|      8|          7|2022-02-27|
|        Grace|           6500|      9|          8|2020-06-29|
|          Bob|           5500|     10|          2|2023-05-30|
|        Alice|           1340|     11|          1|2020-06-30|
+-------------+---------------+-------+-----------+----------+

In [0]:
df = df_2.withColumn("date", df_2["date"].cast("date"))
# Define the Window specification
window_spec = Window.partitionBy("borrower_id").orderBy("date")
# Add a new column "loan_rank" to the DataFrame using the rank function
df = df.withColumn("loan_rank", rank().over(window_spec))
# Show the DataFrame with the loan ranks
df.show()

+-------------+---------------+-------+-----------+----------+---------+
|borrower_name|amount_borrowed|loan_id|borrower_id|      date|loan_rank|
+-------------+---------------+-------+-----------+----------+---------+
|        Alice|           1340|     11|          1|2020-06-30|        1|
|        Alice|           3192|      1|          1|2023-07-01|        2|
|          Bob|           5500|     10|          2|2023-05-30|        1|
|          Bob|           2340|      2|          2|2023-06-30|        2|
|      Charlie|           2588|      4|          3|2023-06-20|        1|
|      Charlie|           2095|      3|          3|2023-06-29|        2|
|        Frank|          20950|      5|          4|2023-05-29|        1|
|       Hannah|           2478|      6|          5|2022-06-29|        1|
|         Jack|           7600|      7|          6|2021-05-25|        1|
|          Bob|          10000|      8|          7|2022-02-27|        1|
|        Grace|           6500|      9|          8|2020-06-29|        1|
+-------------+---------------+-------+-----------+----------+---------+

In [0]:
filtered_df = df.filter(df.loan_rank == 1)
# Show the filtered DataFrame
filtered_df.show()

+-------------+---------------+-------+-----------+----------+---------+
|borrower_name|amount_borrowed|loan_id|borrower_id|      date|loan_rank|
+-------------+---------------+-------+-----------+----------+---------+
|        Alice|           1340|     11|          1|2020-06-30|        1|
|          Bob|           5500|     10|          2|2023-05-30|        1|
|      Charlie|           2588|      4|          3|2023-06-20|        1|
|        Frank|          20950|      5|          4|2023-05-29|        1|
|       Hannah|           2478|      6|          5|2022-06-29|        1|
|         Jack|           7600|      7|          6|2021-05-25|        1|
|          Bob|          10000|      8|          7|2022-02-27|        1|
|        Grace|           6500|      9|          8|2020-06-29|        1|
+-------------+---------------+-------+-----------+----------+---------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import Window
from pyspark.sql.functions import rank, dense_rank, row_number, sum, avg, max, min, lead, lag

spark = SparkSession.builder.appName("WindowFunctionsExample").getOrCreate()

# Sample data (replace this with your actual DataFrame)
data = [
    ("Alice", 3192, 1, 1, "2023-07-01"),
    ("Bob", 2340, 2, 2, "2023-06-30"),
    ("Charlie", 2095, 3, 3, "2023-06-29"),
    ("Charlie", 2588, 4, 3, "2023-06-20"),
    ("Frank", 20950, 5, 4, "2023-05-29"),
    ("Hannah", 2478, 6, 5, "2022-06-29"),
    ("Jack", 7600, 7, 6, "2021-05-25"),
    ("Bob", 10000, 8, 7, "2022-02-27"),
    ("Grace", 6500, 9, 8, "2020-06-29"),
    ("Bob", 5500, 10, 2, "2023-05-30"),
    ("Alice", 1340, 11, 1, "2020-06-30"),
]

schema = ["borrower_name", "amount_borrowed", "loan_id", "borrower_id", "date"]

In [0]:

df = spark.createDataFrame(data, schema=schema)
df = df.withColumn("date", df["date"].cast("date"))
window_spec = Window.partitionBy("borrower_id").orderBy("date")
df = df.withColumn("total_amount_borrowed", sum("amount_borrowed").over(window_spec))
# Show the DataFrame with the window functions applied
df.show()

+-------------+---------------+-------+-----------+----------+---------------------+
|borrower_name|amount_borrowed|loan_id|borrower_id|      date|total_amount_borrowed|
+-------------+---------------+-------+-----------+----------+---------------------+
|        Alice|           1340|     11|          1|2020-06-30|                 1340|
|        Alice|           3192|      1|          1|2023-07-01|                 4532|
|          Bob|           5500|     10|          2|2023-05-30|                 5500|
|          Bob|           2340|      2|          2|2023-06-30|                 7840|
|      Charlie|           2588|      4|          3|2023-06-20|                 2588|
|      Charlie|           2095|      3|          3|2023-06-29|                 4683|
|        Frank|          20950|      5|          4|2023-05-29|                20950|
|       Hannah|           2478|      6|          5|2022-06-29|                 2478|
|         Jack|           7600|      7|          6|2021-05-25|                 7600|
|          Bob|          10000|      8|          7|2022-02-27|                10000|
|        Grace|           6500|      9|          8|2020-06-29|                 6500|
+-------------+---------------+-------+-----------+----------+---------------------+

In [0]:

df = spark.createDataFrame(data, schema=schema)
df = df.withColumn("date", df["date"].cast("date"))
window_spec = Window.partitionBy("borrower_id").orderBy("date")
df = df.withColumn("avg_amount_borrowed", avg("amount_borrowed").over(window_spec))
# Show the DataFrame with the window functions applied
df.show()

+-------------+---------------+-------+-----------+----------+-------------------+
|borrower_name|amount_borrowed|loan_id|borrower_id|      date|avg_amount_borrowed|
+-------------+---------------+-------+-----------+----------+-------------------+
|        Alice|           1340|     11|          1|2020-06-30|             1340.0|
|        Alice|           3192|      1|          1|2023-07-01|             2266.0|
|          Bob|           5500|     10|          2|2023-05-30|             5500.0|
|          Bob|           2340|      2|          2|2023-06-30|             3920.0|
|      Charlie|           2588|      4|          3|2023-06-20|             2588.0|
|      Charlie|           2095|      3|          3|2023-06-29|             2341.5|
|        Frank|          20950|      5|          4|2023-05-29|            20950.0|
|       Hannah|           2478|      6|          5|2022-06-29|             2478.0|
|         Jack|           7600|      7|          6|2021-05-25|             7600.0|
|          Bob|          10000|      8|          7|2022-02-27|            10000.0|
|        Grace|           6500|      9|          8|2020-06-29|             6500.0|
+-------------+---------------+-------+-----------+----------+-------------------+

In [0]:
data = [
    ("Alice", 3192, 1, 1, "2023-07-01"),
    ("Bob", 2340, 2, 2, "2023-06-30"),
    ("Charlie", 2095, 3, 3, "2023-06-29"),
    ("Charlie", 2588, 4, 3, "2023-06-20"),
    ("Frank", 20950, 5, 4, "2023-05-29"),
    ("Hannah", 2478, 6, 5, "2022-06-29"),
    ("Jack", 7600, 7, 6, "2021-05-25"),
    ("Bob", 10000, 8, 7, "2022-02-27"),
    ("Grace", 6500, 9, 8, "2020-06-29"),
    ("Bob", 5500, 10, 2, "2023-05-30"),
    ("Alice", 1340, 11, 1, "2020-06-30"),
    ("Alice", 130, 12, 1, "2019-06-30"),
    ("Alice", 1340, 13, 1, "2024-06-30"),
]

schema = ["borrower_name", "amount_borrowed", "loan_id", "borrower_id", "date"]

In [0]:

df = spark.createDataFrame(data, schema=schema)
df = df.withColumn("date", df["date"].cast("date"))
window_spec = Window.partitionBy("borrower_id").orderBy("date")
df = df.withColumn("max_amount_borrowed", max("amount_borrowed").over(window_spec))
# Show the DataFrame with the window functions applied
df.show()

+-------------+---------------+-------+-----------+----------+-------------------+
|borrower_name|amount_borrowed|loan_id|borrower_id|      date|max_amount_borrowed|
+-------------+---------------+-------+-----------+----------+-------------------+
|        Alice|            130|     12|          1|2019-06-30|                130|
|        Alice|           1340|     11|          1|2020-06-30|               1340|
|        Alice|           3192|      1|          1|2023-07-01|               3192|
|        Alice|           1340|     13|          1|2024-06-30|               3192|
|          Bob|           5500|     10|          2|2023-05-30|               5500|
|          Bob|           2340|      2|          2|2023-06-30|               5500|
|      Charlie|           2588|      4|          3|2023-06-20|               2588|
|      Charlie|           2095|      3|          3|2023-06-29|               2588|
|        Frank|          20950|      5|          4|2023-05-29|              20950|
|       Hannah|           2478|      6|          5|2022-06-29|               2478|
|         Jack|           7600|      7|          6|2021-05-25|               7600|
|          Bob|          10000|      8|          7|2022-02-27|              10000|
|        Grace|           6500|      9|          8|2020-06-29|               6500|
+-------------+---------------+-------+-----------+----------+-------------------+

In [0]:

df = spark.createDataFrame(data, schema=schema)
df = df.withColumn("date", df["date"].cast("date"))
window_spec = Window.partitionBy("borrower_id").orderBy("date")
df = df.withColumn("min_amount_borrowed", min("amount_borrowed").over(window_spec))
# Show the DataFrame with the window functions applied
df.show()

+-------------+---------------+-------+-----------+----------+-------------------+
|borrower_name|amount_borrowed|loan_id|borrower_id|      date|min_amount_borrowed|
+-------------+---------------+-------+-----------+----------+-------------------+
|        Alice|            130|     12|          1|2019-06-30|                130|
|        Alice|           1340|     11|          1|2020-06-30|                130|
|        Alice|           3192|      1|          1|2023-07-01|                130|
|        Alice|           1340|     13|          1|2024-06-30|                130|
|          Bob|           5500|     10|          2|2023-05-30|               5500|
|          Bob|           2340|      2|          2|2023-06-30|               2340|
|      Charlie|           2588|      4|          3|2023-06-20|               2588|
|      Charlie|           2095|      3|          3|2023-06-29|               2095|
|        Frank|          20950|      5|          4|2023-05-29|              20950|
|       Hannah|           2478|      6|          5|2022-06-29|               2478|
|         Jack|           7600|      7|          6|2021-05-25|               7600|
|          Bob|          10000|      8|          7|2022-02-27|              10000|
|        Grace|           6500|      9|          8|2020-06-29|               6500|
+-------------+---------------+-------+-----------+----------+-------------------+